{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Login</h1>
            <form action="/user/addpost/" class="col-md-7" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="username">Username</label>
                <textarea rows="30" cols="100"   class="form-control" name="comt" id="username" aria-describedby="emailHelp"
                       placeholder="Enter Username">
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}
