{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pricing example for Bootstrap</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/pricing.css' %}" rel="stylesheet">
</head>

<body>
   {% csrf_token %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/user/home/">
        {#    <img src="bird.jpg" alt="Logo" style="width:40px;">#}
        <h3>Hello</h3>
    </a>
    <!-- Links -->
    <ul class="navbar-nav">
        {% if user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="#">Hello <b>{{ user.username }}</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/user/addpost/">Create Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout/">
                    <form action="/user/logout/" method="post">

                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/user/login/">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/register/">Register</a>
            </li>
        {% endif %}
    </ul>

</nav>

{% block content %}
    {% csrf_token %}

    if you see this, something is wrong!
    {{ title }}
{% endblock content %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 's/jquery-3.2.1.slim.min.js' %}"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery-slim.min.js' %}"><\/script>')</script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
</body>
</html>
