{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Login</h1>
            <form action="/user/login/" class="col-md-7" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="usernm" id="username" aria-describedby="emailHelp"
                       placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" name="pwd1" id="password1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}
