{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Register</h1>
        <form action="/user/register/" class="col-md-7" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" name="fname" id="firstname" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" name="lname" id="lastname" placeholder="last name">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="emai" id="exampleInputEmail1"
                       aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="usernm" id="username" aria-describedby="emailHelp"
                       placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" name="pwd1" id="password1" placeholder="Password">
            </div>


            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" name="pwd2" id="password2" placeholder="Confirm Password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}
